/*
 * NRL Branding for bootstrap
 * Navy:        #162956
 * Blue:        #2E5590
 * Light Blue:  #6DA9CF
 * Gray:        #4C4F59 - dark bluish gray
 * Yellow:      #FAB208
 * ---------------------------------------
 * additional colors to use
 * medium-light gray: #e4e8ea
 * very light gray: #f7f7f7;
 */

/* ------------------------------------------------------------------------------------------------------------
    Mobile
-------------------------------------------------------------------------------------------------------------*/
/* xl */
@media (min-width: 1200px) {}
/* lg */
@media (max-width: 1199px) and (min-width: 992px) {
    body .navbar-brand .title{position: relative; padding-left: 0px;}
    body .navbar-brand .title a{position: absolute; min-width: 350px; top: 7px; left: 30px;}
    body .navbar-brand .title a div{display: inline-block;}
    body header.navbar .navbar-right{margin-top:50px; float:left !important;}
}
/* md */
@media (max-width: 992px) {
    body header.navbar .navbar-right{float: left !important; margin-top:0px; border-top: 1px solid #223563; }
    body .navbar-header{padding-left: 15px;}
}
/* xs */
@media (max-width: 767px) {

    body .show-xs{display: block;}
    body .hide-xs{display: none;}
    body .nav>li>a.hide-xs{display: none;}

    body .main .sidebar{display: none;}
    body .main .content.has-sidebar{margin-left:0px;}

    body .navbar-brand{padding: 10px 0px;}
    body .navbar-brand .title{margin-left: 0px; border-left: 0px; padding-left: 8px;}
    body .navbar-brand .title a{font-size: 13px; line-height: 16px;}
    body .navbar-toggle, body .navbar-inverse .navbar-toggle, 
    body .navbar-toggle, body .navbar-inverse .navbar-toggle:focus,
    body .navbar-toggle, body .navbar-inverse .navbar-toggle:hover,
    body .navbar-toggle, body .navbar-inverse .navbar-toggle:active
        {border-radius: 0px; border:0px; background: none;
        padding: 0; color: #ffffff; font-size: 22px; margin-top:36px; }
    .navbar .nav li.active ul{display:block;}

    .navbar .nav li.active>a{
        border: 1px solid #fff;
        border-right: 0px;
        z-index: 5000;
        background: #162956;
        border-left: 0px;
    }
    .navbar .nav li a .glyphicon{font-size: 12px;}
    .navbar .nav li.active a .glyphicon{display: none;}
    body header.navbar .navbar-collapse{padding: 0px;}
    body header.navbar .navbar-right{max-width: 50%; width: 50%; margin: 0px;}
    body header.navbar .nav ul.dropdown-menu {
        background: #162956;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #f7f7f7;
        min-width: 100%;
        margin-top: -1px;
        border-right: 0px;
        top:-50%;
        left:100%;
        margin-left: -1px;
    }

    body header.navbar ul.navbar-right>li:last-child ul.dropdown-menu{ top: auto; bottom: 0px; }
    body header.navbar ul.navbar-right>li:first-child ul.dropdown-menu{ top: 0px; }

    body .navbar-inverse .navbar-nav>.active>a,
    body .navbar-inverse .navbar-nav>.active>a:focus,
    body .navbar-inverse .navbar-nav>.active>a:hover {
        background: #162956;
    }

    footer.footer #logo{margin: auto; margin-bottom: 24px;}
    body footer.footer .info{text-align: left;}

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border:0px;}
    body .jumbotron .row .jumbotron-text{padding-top:4px; font-size: 21px;}
    body .jumbotron-logo{text-align: center; padding-top: 18px;}
    body .jumbotron-logo img{width: 125px;}
}
/* xxs */
@media (max-width: 380px) {
 body .navbar-brand .title{max-width: 140px; padding-top: 15px;}
 body .jumbotron .row .jumbotron-text{font-size: 19px;}
}

/* xxxs */
@media (max-width: 319px) {
 body .navbar-inverse .navbar-toggle{float: none; margin: auto; display: block;}
 body .navbar .nav li a .glyphicon{display: none;}
 body .navbar-brand .logo-container{display: none;}
 body .navbar-brand .title{float: none; padding: 0px; margin: 0px; max-width: 100%; min-height: auto;}
 body .navbar-brand{float: none;}
}

/* md, lg, xl */
@media (min-width: 768px){
    .navbar .nav li.dropdown:hover ul.dropdown-menu {
        display: block;
    }
    .navbar .nav li.dropdown:hover {
        background: #2e5590;
    }
    .navbar-inverse .navbar-nav>li.dropdown:hover>a {
        background: #162956;
        z-index: 4000;
        border: 1px solid #f7f7f7;
        border-bottom: 0px;
    }
    .show-xs, body .nav>li>a.show-xs{display: none;}
}


/* ------------------------------------------------------------------------------------------------------------
   Text & Links 
-------------------------------------------------------------------------------------------------------------*/

body {
    /* font-family: "Arial"; */
    
    font-family: 'Source Sans Pro', sans-serif;

}
p {
    /* font-family: "Arial";*/
    
    font-family: 'Source Sans Pro', sans-serif;
    color: #1f2023;
}
p.xl {
    font-size: 21px;
}
p.lg {
    font-size: 16px;
}
body a,
.btn-link {
    color: #2199e8;
}
.h1, .h2, .h3, h1, h2, h3 {
    color: #1f2023;
}

ul.list-unstyled.lined li {
    margin-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #f2f2f2;
}
.well {
    background: #efefef;
    border-radius: 3px;
}
.col-heading{margin-top:4px;}

/* ------------------------------------------------------------------------------------------------------------
    Main components
-------------------------------------------------------------------------------------------------------------*/

body {
    background: #2a2a2a;
    padding-top: 0px;
    padding-bottom: 0;
}
body .container.main,
body .container-fluid.main {
    background: #f7f7f7;
    padding-top:30px;
}

.main .content {
    
    font-size: 15px;
}
.main .content.has-sidebar{
    margin-left: 225px;
}
section, .section{
    margin-bottom: 15px;
}
.main .page-header {
    margin-top: 0px;
}

.clearboth{clear:both;}

#main-wrap{padding-bottom: 64px; background: #f7f7f7;}

hr{border-top: solid 2px #eee;}

/* Wide page layouts - catalog layout */
.container-fluid.content-header{background: #f7f7f7; border-bottom: #d0d0d0 1px solid; 
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1); position: relative; z-index: 2000;}
.container-fluid.content{background: #ffffff; position: relative; z-index: 1800;}
.container-fluid.content .sidebar{
    background: #f3f3f3;
    border-right: solid 1px #d2d2d2;
}
.sidebar-fixed{
    position: fixed;
    top: 93px;
    bottom: 0px;
    left: 0;
    z-index: 1900;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f7f7f7;
    border-right: 1px solid #e2e2e2;
}

/* ------------------------------------------------------------------------------------------------------------
    Header & Navbar
-------------------------------------------------------------------------------------------------------------*/
.navbar-logo .navbar-brand {
    height: 95px;
}
header.navbar .navbar-right {
    margin-top: 38px;
}
.navbar {
    min-height: 40px;
}
.navbar-inverse {
    background: #162956;
    min-height: 40px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-brand:hover {
    color: #FAB208;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: none;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #07173c;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-nav>li>a {
    padding: 10px 15px;
}

.navbar-brand {
    padding: 10px 15px;
    height: auto;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fab208;
}
.navbar-inverse .navbar-nav>li>a {
    border: 1px solid #162956;
    border-bottom: 0px;
    cursor: pointer;
}

header.navbar {
    border-bottom: solid 3px #FAB208;
}
/* logo */
.navbar-brand .logo,
.footer .logo {
    margin: 0;
    padding: 0;
    width: 112px;
    height: 74px;
    background: url(../img/logo-nrl-white.png) 0px 0px/112px 74px;
    background: url(../img/nrl_logo_white.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
}
.footer .info{text-align: right;}
.navbar-logo #navbar {
    margin-top: 55px;
}
.navbar-brand .logo-container {
    float: left;
}
.navbar-brand .title {
    float: left;
    padding-top: 18px;
    border-left: 1px solid #223563;
    margin-left: 16px;
    margin-top: 0px;
    min-height: 76px;
    padding-left: 12px;
    
}
.navbar-brand .title a{
    color: #8b9db7;
    font-size: 16px;
}
.navbar-brand .title a:hover{
    text-decoration: none;
    color: #fab208;
}



.navbar .nav ul.dropdown-menu {
    background: #162956;
    border-radius: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
    border: 1px solid #f7f7f7;
    min-width: 180px;
    margin-top: -1px;
}
.navbar .nav .dropdown-menu>li>a {
    color: #fff;
}
.navbar .nav .dropdown-menu>li>a:hover, .navbar .nav .dropdown-menu>li>a:focus,  .navbar .nav .dropdown-menu>li>a.active{
    background: none;
    color: #fab208;
}

.navbar {
    margin-bottom: 0;
}


/*
 * compact header
 */
header.navbar.navbar-inverse.navbar-compact{
    position: relative;
    z-index: 5000;
}

header.navbar.navbar-inverse.navbar-compact .navbar-brand {
    padding: 6px 15px;
}
header.navbar.navbar-compact .navbar-right{margin-top: -1px;}
.navbar-compact .navbar-brand .title{height: auto; min-height: inherit; padding-top:3px;}
.navbar-compact .logo-container img{width: 46px; height: auto;}



/* ------------------------------------------------------------------------------------------------------------
    Sidebar
-------------------------------------------------------------------------------------------------------------*/
.main .sidebar {
    float: left;
    width: 200px;
}
.sidebar > .menu.nav {
    margin-top: -30px;
    background: #ffffff;
    padding: 8px 12px;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1);
}
.sidebar .nav>li.parent>a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 0px;
    font-weight: 700;
    font-size: 1.2em;
    color: #2e5590;
}
.sidebar .nav>li>ul {
    border-left: solid 1px #414a5f;
}
.sidebar .nav>li>a {
    color: #444852;
}
.sidebar .nav>li>a:focus, .sidebar .nav>li>a:active{background: none; outline: 0px;}

.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:active{
    color: #fff;
    background: #2e5590;
}

#sidebar.fixed{position: fixed; top: 30px; z-index: 5000;}



/* ------------------------------------------------------------------------------------------------------------
    Footer
-------------------------------------------------------------------------------------------------------------*/

.footer {
    background-color: #2A2A2A;
    color: #ccc;
    padding: 24px 0;
    text-align: left;
    font-size: 13px;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #FAB208;
    text-decoration: none;
}
.footer p {
    color: #ccc;
}
.footer .links,
.footer .links li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .links {
    margin-bottom: 20px;
    display: block;
}
.footer .links li {
    display: inline-block;
}
.footer .links li+li {
    margin-left: 15px;
}
.footer .credit {
    border-top: 1px solid #333;
    padding-top: 24px;
    font-size: 12px;
    margin-top: 16px;
}

/* ------------------------------------------------------------------------------------------------------------
    Tables
-------------------------------------------------------------------------------------------------------------*/

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e9e9e9;
}
/* ------------------------------------------------------------------------------------------------------------
    Forms & Inputs
-------------------------------------------------------------------------------------------------------------*/

.form-control {
    border-radius: 0;
    padding: 2px 6px;
    display: inline-block;
    width: auto;
}
/* ------------------------------------------------------------------------------------------------------------
    Buttons, Panels, Labels
-------------------------------------------------------------------------------------------------------------*/

body .btn {
    border-radius: 3px;
}
.btn-primary,
.label-primary {
    background: #2E5590;
    border-color: #16446b;
}
.btn-info,
.label-info {
    background: #6DA9CF;
    border-color: #6DA9CF;
}
.btn-warning,
.label-warning {
    background: #FAB208;
    border-color: #FAB208;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #2e5590;
}
.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #2E5590;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background: #2E5590;
}
.label-default {
    background: #4C4F59;
}
.badge {
    background: #4C4F59;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background: #2e5590;
}


/* ------------------------------------------------------------------------------------------------------------
    Banner - Jumbotron and Hero elements
-------------------------------------------------------------------------------------------------------------*/
body .container .jumbotron {
    border-radius: 0px;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1);
    background: #fff;
}
body .jumbotron {
    margin-bottom: 0px;
    padding: 23px 0;
}
body .jumbotron.home-hero {
    background: #162956;
}
body .jumbotron .jumbotron-text {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding-top: 70px;
}
.jumbotron-logo {
    padding-top: 60px;
}
.jumbotron-logo img{max-width: 100%;}
.home-hero,
.banner-hero {
    color: #fff;
}
.banner-hero .titleblock {
    margin-top: 125px;
    background: rgba(46, 85, 144, 0.55);
    padding: 16px 0;
}
.home-hero .titleblock .h1,
.home-hero .titleblock h1,
.banner-hero .titleblock .h1,
.banner-hero .titleblock h1 {
    font-size: 36px;
}
.home-hero .titleblock .h1,
.home-hero .titleblock a,
.banner-hero .titleblock a,
.banner-hero .titleblock a {
    color: #fff;
}
.home-hero .titleblock a:hover,
.banner-hero .titleblock a:hover {
    color: #FAB208;
    text-decoration: none;
}
body.has-banner .navbar-inverse {
    border-bottom: 3px solid #2e5590;
}
.jumbotron.banner-full {
    background: url(../img/banner.jpg);
    background-size: cover;
    min-height: 300px;
    box-shadow: inset 0px -50px 50px rgba(0, 0, 0, .6);
    border-bottom: 3px solid #fab208;
}
.jumbotron.banner-hero {
    background: url(../img/banner-dark-blue.jpg);
    background-size: cover;
    min-height: 200px;
    border-bottom: 3px solid #fab208;
    padding: 1px 0 0 0;
}
body .jumbotron.home-hero.page {
    background: #2e5590;
    border-bottom: #fab208 solid 3px;
}



/* ------------------------------------------------------------------------------------------------------------
    Panels
-------------------------------------------------------------------------------------------------------------*/
.panel {
    border-radius: 0px;
    display: block;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1);
}
.panel-default {
    border-top: solid 8px #ffffff;
}
.panel-primary {
    border-top: solid 8px #2e5590;
}
.panel-info {
    border-top: solid 8px #FAB208;
}
.panel-danger {
    border-top: solid 8px #a94442;
}
.panel-danger .panel-heading h3.panel-title {
    color: #a94442;
}
.panel .panel-heading h3.panel-title {
    font-size: 22px;
}
.panel img {
    max-width: 100%;
}
.panel-primary .panel-heading,
.panel-default .panel-heading,
.panel-info .panel-heading,
.panel-danger .panel-heading {
    padding-bottom: 0;
    color: #4d4f59;
    background: none;
    border: none;
}
.panel-inverse .panel-heading {
    background: #2e5590;
    color: #ffffff;
    border-radius: 0px;
    border-left: 6px solid #162956;
}
.panel-inverse h3 {
    font-weight: 300;
}
.panel a.thumb {
    display: block;
    max-height: 180px;
    overflow: hidden;
}
.panel-blank {
    border: 0px;
    background: none;
    box-shadow: none;
}


/* ------------------------------------------------------------------------------------------------------------
    Images
-------------------------------------------------------------------------------------------------------------*/
.img-thumbnail, .thumbnail{
    border-radius: 0px;
    padding: 6px;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1);
    border-width: 0px;
}
img.sm, .img-thumbnail.sm{width: 200px; height: auto;}
img.md, .img-thumbnail.md{width: 420px; height: auto;}


.thumbnail{font-size: 12px; text-align: center;}
.img-thumbnail.pull-left, .thumbnail.pull-left{margin-right: 18px;}
.img-thumbnail.pull-right, .thumbnail.pull-right{margin-left: 18px;}

.content img{max-width: 100% !important; height: auto;}

/* ------------------------------------------------------------------------------------------------------------
    Breadcrumbs
-------------------------------------------------------------------------------------------------------------*/
.breadcrumb>.active {
    color: #e4e8ea;
}
.breadtrail {
    background: #2e5590;
    padding: 0 0 1px 0;
    font-size: 13px;
}
.breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0px;
}
.breadcrumb li>a {
    color: #98a3b3;
}
.breadcrumb>li+li:before {
    color: #98a3b3;
}


/* ------------------------------------------------------------------------------------------------------------
    Pagination
-------------------------------------------------------------------------------------------------------------*/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2e5590;
    border-color: #2e5590;
}
.pagination>li>a, .pagination>li>span {
    color: #2e5590;
}

.pagination>li>a.ellipsis, .pagination>li>a.ellipsis:hover{font-weight: bold; border-top: 0px; 
    cursor: default; border-bottom: 0px; background: #fff;}















