<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Naval Research Laboratory Geospatial Computing Section">
  <meta name="author" content="Naval Research Laboratory Geospatial Computing Section">

  <!-- all the favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="img/favicons/manifest.json">
  <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#162953">
  <link rel="shortcut icon" href="img/favicons/favicon.ico">
  <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


  <title>NRL 7442 Geospatial Computing Section</title>

  <!-- Bootstrap core CSS -->
  <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="libs/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- NRL Branding -->
  <link href="css/nrl.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/custom.css" rel="stylesheet">

  <link href="libs/featherlight/featherlight.min.css" type="text/css" rel="stylesheet" />

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<!-- define angular controller -->
<body ng-controller="mainController" ng-class="{'has-banner' : page.hasBanner || page.isHomepage}">

  <site-header></site-header>
  <div id="main-wrap">

    <div ng-if="page.custom"><div ng-view></div></div>

    <page-banner ng-if="page.hasBanner && page.layout != 'custom'"></page-banner>

    <div ng-if="!page.custom" class="container main">
      <div class="sidebar" ng-if="page.hasSidebar" id="sidebar">
        <sidebar-menu></sidebar-menu>
      </div>
      <div class="content" ng-class="{'has-sidebar' : page.hasSidebar}">
        <div ng-view autoscroll></div>
      </div>
    </div>

  </div>

  <site-footer></site-footer>

  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/featherlight/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="libs/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
</body>
</html>