<h1 class="page-header">About Us</h1>


<section>	


  


<p>
  Our goal is to be the lead defense research and development group in geospatial computing.
</p>

<p>
  We conduct research and development on significant problems involving the collection, processing and distribution of geospatial data. The following are our core focus areas:
  </p><ul>
    <li>Geospatial Web Services</li>
    <li>Lightweight, Portable and Inexpensive Geospatial Data Management Systems</li>
    <li>Managing Geospatial Uncertainty</li>
    <li>Automation of Geospatial Processes</li>
    <li>High Performance Geospatial Computing</li>
  </ul>
<p></p>

<p>
  Technical Philosophy
  </p><ul>
    <li>We strive to develop straightforward solutions that meet Department of Defense geospatial requirements.</li>
    <li>Whenever possible we avoid proprietary solutions and employ open standards for our research. This primarily includes Web interface standards. These ensure that our systems will be compatible with a wide variety of tools and systems. It also reduces cost and complexity for the DoD.</li>
    <li>The products of our work are government owned and thus can be freely deployed to serve our nation's military in many different ways.</li>
  </ul>
<p></p>

<p>
  Our History
  </p><ul>
    <li>The Geospatial Computing Section began as the Digital Mapping Analysis Program (DMAP). DMAP served as critical technology advisors to the Navy and other DoD components, reviewed technical standards and geospatial products.</li>
    <li>The Geospatial Computing Section has received several awards and recognition. Click here to read more.</li>
  </ul>
  
  NRL is the government's premier defense research laboratory.  Visit the NRL homepage (<a href="http://www.nrl.navy.mil">www.nrl.navy.mil</a>) to learn about NRL's current mission and broad achievements in many different fields. 
<p></p>




</section>










