<h1 class="page-header">Accomplishments</h1>

<div class="row">
	<div class="col-sm-3"><img src="img/pages/gidb.jpg" class="img-thumbnail"></div>
	<div class="col-sm-9">
		<h2 class="col-heading">Geospatial Information Database</h2>
		<i>1994 - Present</i>
		<p>
		Geospatial Information Database (GIDB®) began as the DoD's first object-oriented geospatial database and evolved to become the most extensive simultaneous interconnection of disparate geospatial content on the Internet at that time (up to 1500 sources).  GIDB® provided an enterprise virtual database (endpoint content providers were not required to modify their content in any way) used by thousands of open source users per year for more than a decade and still utilized today.  GIDB® base technology has served as a launching pad for multiple other geospatial enterprise advancements.</p>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-3"><img src="img/pages/tileServer.jpg" class="img-thumbnail"></div>
	<div class="col-sm-9">
		<h2 class="col-heading">NRL Tile Server</h2>
		<i>2007 - Present</i>
		<p>The NRL developed Tile Server delivers high performance, net-centric access to DoD geospatial data. It has provided significant advancements in how imagery of the Earth's surface and seafloor is currently used by a number of Department of Defense agencies including the National Geospatial-Intelligence Agency, the Marine Corps System Command, Navy Explosive Ordinance Disposal, and NRL's Naval Center for Space Technology. The Tile Server is the first system to provide high speed, tiled access to DoD digital charts and imagery including Digital Nautical Chart. </p>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-3"><img src="img/pages/ghub.png" class="img-thumbnail"></div>
	<div class="col-sm-9">
		<h2 class="col-heading">GHub</h2>
		<i>2008 - Present</i>
		<p>GHub is a geospatially aware content management system that allows automatic web service generation of content as well as collaboration and synchronization among distributed GHub clients, even on disadvantaged and disconnected networks.  GHub has become a strategic DoD enterprise component enabling massive collaboration of tactical sensors, Distributed Common Ground Station (DCGS) Community-of-Interest (COI) metadata population, endpoint content storage, tactical-level field data introduction into enterprise systems and cloud enterprise synchronization given intermittent and disconnected network availability.</p>
	</div>
</div>
<hr>


