<h1 class="page-header">DRG Explorer</h1>


<div id="mainColumn">
<p>DRG's are USGS Digitized Raster Graphics (<a href="http://topomaps.usgs.gov/drg">http://topomaps.usgs.gov/drg</a>)</p>

<p>The source files for this set contain over 50,000 GeoTIFF's. Each file has a full map collar (legend) and is in the UTM projection.</p>

<p>Web Map Service (WMS) and Keyhole Markup Language (KML) versions of this data are available at the following links:
	</p><ul>
		<li><a href="/TileServerClient">TileServerClient</a>  (open layers based layer browser)</li>
		<li><a href="/nrltileserver/wms">nrltileserver/wms</a> (WMS links)</li>
		<li><a href="/nrltileserver/kml2.kml?request=getstart&amp;layer=DRG_AUTO">DRG specific KML link</a></li>
		<li><a href="/nrltileserver/kml2.kml">nrltileserver/kml2.kml</a> (Other KML Links)</li>
	</ul>
<p></p>

<p>For help using WMS and KML links see our help page (put in link to help page)</p>



<p>
	<a href="img/pages/drg1.png" data-featherlight="image" class="col-sm-3 col-xs-6"><img class="img-thumbnail" src="img/pages/drg1.png" ></a>
	<a href="img/pages/drg2.png" data-featherlight="image" class="col-sm-3 col-xs-6"><img class="img-thumbnail" src="img/pages/drg2.png" ></a>
	<a href="img/pages/drg3.png" data-featherlight="image" class="col-sm-3 col-xs-6"><img class="img-thumbnail" src="img/pages/drg3.png" ></a>
	<a href="img/pages/drg4.png" data-featherlight="image" class="col-sm-3 col-xs-6"><img class="img-thumbnail" src="img/pages/drg4.png" ></a>
</p>

			</div>