



<h1 class="page-header">Facilities</h1>


<section>	

  <p>
  The NRL Geospatial Computing Section is part of the Geospatial Sciences and Technology Branch at the <a href="http://www.nrlssc.navy.mil">NRL Stennis Space Center Detachment</a>. (<a href="http://www.nrlssc.navy.mil/visitor_info.html">Visitor information.</a>)
  </p>

  <p>
  The Geospatial Computing Section has over 1,500 square feet of dedicated computing facilities
  </p>

  <p>
  From this facility we provide hosting services to select DoD components and also conduct extensive geospatial computing research and development.
  </p>

  <p>
  Capabilities include:
  </p>
  <ul>
  <li>1.546 Petabytes of storage</li>
  <li>2108 CPU cores</li>
  <li>7168 GPU Compute Cores</li>
  <li>1 Petabyte cloud storage in the WOS (Web Object Scaler) cluster</li>
  </ul>

  <hr>
  
  <h3>Server Room Pictures</h3>


  <div class="row">
    <div class="col-sm-6">
      <a href="img/pages/server_room_010.jpg" data-featherlight="image"><img src="img/pages/server_room_010.jpg" class="img-thumbnail"></a>
    </div>
    <div class="col-sm-6">
      <a href="img/pages/server_room_008.jpg" data-featherlight="image"><img src="img/pages/server_room_008.jpg" class="img-thumbnail"></a>
    </div>
  </div>

  






</section>





