<div class="row">

	
	<div class="col-sm-3">
	<img src="img/pages/drg2.png" class="img-thumbnail pull-left">
	</div>
	<div class="col-sm-9">
		<h1 class="col-heading"><a href="/TileServerClient/">USGS DRG</a></h1>
		<p>
			A digital raster graphic (DRG) is a scanned image of a U.S. Geological Survey (USGS) standard series topographic map, including all map collar information. The image inside the map neatline is georeferenced to the surface of the earth and fit to the Universal Transverse Mercator projection. The horizontal positional accuracy and datum of the DRG matches the accuracy and datum of the source map. The map is scanned at a minimum resolution of 250 dots per inch.
		USGS DRG maps are available as a seamless layer in the <a href="/TileServerClient/">public NRL Tile Server</a>
		</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-3"><img src="img/pages/rnc.png" class="img-thumbnail pull-left"></div>
	<div class="col-sm-9"><h1 class="col-heading"><a href="/TileServerClient/">NOAA RNC</a></h1>
	<p>NOAA RNC® are geo-referenced, digital images of NOAA navigational charts. Because the images are geo-referenced, you can display your vessel's position on the chart image if you have a computer-based navigation system that is connected to a Global Positioning System (GPS).<br>
		<br>
		NOAA updates the RNCs weekly; the updates are developed according to the standard set by the International Hydrographic Organization Special Publication S-61. (A link to these RNC product specifications is listed in the resources section above.) <br>
		<br>
		RNCs downloaded from this site are official raster navigational charts and may satisfy chart carriage regulations where permitted by the Code of Federal Regulations. Note: Current regulations do not support the use of RNCs for primary navigation when used independently of Electronic Navigational Charts (ENCs) and without up-to-date paper charts as a backup.</p>
		<br>
		RNC charts are available on the <a href="/TileServerClient/">public NRL tile server</a>.</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-3"><img src="img/pages/naip.png" class="img-thumbnail pull-left"></div>
	<div class="col-sm-9"><h1 class="col-heading"><a href="/TileServerClient/">USGS NAIP</a></h1>
	<p>U.S. Department of Agriculture (USDA) National Agriculture Imagery Program (NAIP) acquires imagery during the agricultural peak growing seasons for the conterminous United States.
		These "leaf-on" orthophoto images are at 1-meter (just over 3 feet) or 2-meter spatial resolutions. (Objects roughly these sizes are identifiable.) The 1-meter imagery provides updated digital orthophoto imagery. The 2-meter imagery supports the USDA Farm Services programs that require current imagery acquired during the agricultural growing season but do not require a higher resolution, such as crop compliance, farm acreage, and Common Land Unit (CLU) boundaries. Included in this imagery category is 1 meter data acquired through state programs as "leaf-off".</p>
		U.S. Department of Agriculture National Agriculture Imagery Program. NAIP data are available on the <a href="/TileServerClient/">public NRL Tile Server</a></div>
</div>
<hr>
<div class="row">
	<div class="col-sm-3"><img src="img/pages/openStreetMap.png" class="img-thumbnail pull-left"></div>
	<div class="col-sm-9"><h1 class="col-heading"><a href="/TileServerClient/">OpenStreetMap</a></h1>
	<p>
	Open Street Map is an open source project that creates free geographic mapping of data. The Naval Research Laboratory uses Open Street Map to create web mapping services and web feature services.
	Open Street Map data are available on the <a href="/TileServerClient/">public NRL Tile Server</a>. 
	The OSM data used here comes from the <a href="http://www.openstreetmap.org/">OpenStreetMap project</a>
	</p></div>
</div>
<hr>
	

	
	





		