<h1 class="page-header">GHUB</h1>




<p>
</p><ul>
	<li>The NRL GHub (Geospatial Hub) is a content management system (CMS) specifically designed to provide a collaborative environment for organizing and searching DoD data.</li><br>
	<li>The GHub is also designed to support collaboration and data discovery and dissemination between different sites across different networks.</li> <br>
</ul>
<p></p>

<p>
	</p><h2>Architecture</h2>
	<a href=""><img src="img/pages/ghubArchitecture.png" length="400" width="500"></a>
<p></p>

<p>
	</p><h2>Data Types</h2>
	<ul>
		<li>The GHub can store and disseminate any type of data.</li><br>
		<li>Core GHub functionality is available regardless of data type:
		<ul>
			<li>Storage</li>
			<li>Version management</li>
			<li>File downloads</li>
			<li>Common metadata</li>
			<li>Keyword search</li>
			<li>Synchronization</li><br>
		</ul>
		</li><li>Commonly used data types are given special functionality:</li>
		<ul>
			<li>Styled Web presentation</li>
			<li>Geospatial Web services</li>
			<li>File conversion services</li><br>
		</ul>
		<li>Current specially support GHub data types:
		<ul>
			<li>GEOTIFF, Shapefile, KML, NITF</li><br>
		</ul>
		</li><li>The GHub is easy to extend with more custom data types</li>		
	</ul>
<p></p>

<p>
	</p><h2>Interfaces</h2>
	<ul>
		<li>Web Page(HTML)</li><br>
		<li>OGC Web Services</li><br>
		<li>SOAP/WSDL Web Services</li><br>
		<li>WebDAV</li><br>
		<li>Custom Applications</li>
	</ul>
<p></p>

<p>
	</p><h2>Geospatial Web Services</h2>
	<ul>
		<li>For applicable data types, the GHub provides geospatial Web services.</li><br>
		<li>Services are created automatically when a new dataset is created.</li><br>
		<li>GHub itself determines which services to provide based on the data type.</li><br><br>
	</ul>
	<a href="images/geoWebServices.png"><img src="img/pages/geoWebServices.png" width="600" length="200"></a>
<p></p>

<p>
	</p><h2>Synchronization</h2>
	<table>
		<tbody><tr>
			<td><a href="images/ghubSynchronization.png"><img src="img/pages/ghubSynchronization.png" align="center" length="400" width="450"></a></td>
		</tr>
	</tbody></table>
	<br><br><hr><br><br>
	
	<ul>
		<li>Allow a hierarchy of master/slave systems for synchronization.</li>
	</ul>
	<a href="images/hierarchicalSynchronization.png"><img src="img/pages/hierarchicalSynchronization.png" align="center" length="400" width="450"></a>
	
	<br><br><hr><br><br>
	
	<ul>
		<li>The synchronization capability is designed to be fault tolerant.</li><br>
		<li>Support transfers over limited bandwidth.</li><br>
		<li>Resume transfers when connection drops.</li><br>
		<li>Support selecting data to download by geographic area.</li><br>
		<li>GHub will manage movement of data.  Full download and upload of required data will occur given enough time.</li><br>
	</ul>
<p></p>
	
<p>
	</p><h2>Web Interface</h2>
	<ul>
		<li>Primary method of user interaction with repository</li><br>
		<li>Search and browse data sets</li>
	<ul>
		<li>Provides interface to text and map based search</li>
		<li>Folder structure allows for easy theme based browsing.</li><br>
	</ul>
	<li>Manage Data:</li>
	<ul>
		<li>Download data</li>
		<li>Upload new data sets</li>
		<li>Revise existing data sets</li><br>
	</ul>
		<li>Manage user and group base permissions</li>
	</ul>	
<p></p>

<p>
	</p><h2>Search</h2>
	<ul>
		<li>Search all data in GHub by textually, spatially, and temporally.</li><br>
		<li>Handles tens of thousands of datasets</li><br>
		<li>Indexes data set name, location, description, keywords, filenames, and document contents (Word, PDF, etc.).</li><br>
		<li>Uses Lucene search index (open source)</li><br>
	</ul>			
<p></p>

<p>
	</p><h2>Web Services API</h2>
	<ul>
		<li>GHub has a SOAP/WSDL API for automatic interaction by other systems.</li><br>
		<li>All GHub functionality is available:</li>
		<ul>
			<li>Create, browse, search, publish, etc.</li></ul><br>
			<li>Publish and subscribe to DIB</li><br>
			<li>Update notifications</li>
			<ul>
				<li>RSS (pull)</li>
			</ul>
		</ul>
	
<p></p>

<p>
	</p><h2>Collaboration</h2>
	<ul>
		<li>Users can collaborate in creation and use of actual data sets</li>
		<ul>
			<li>Full versioning will ensure users can update sets without losing previous data.</li><br>
		</ul>
		<li>Metadata, descriptions, and comments for data sets and folders are also all versioned for a Wiki like experience.</li><br>
		<li>Collaboration supports user and group data access controls.</li>
		<li>For more information contact <a href="mailto:geoint@nrlssc.navy.mil">geoint@nrlssc.navy.mil</a></li>
	</ul>
<p></p>



			