<div class="container main">
	<div class="sidebar" id="sidebar">
		<ul class="menu nav">
			<li class="parent heading"><a href="#">GIDB Thick Client</a>
				<ul class="menu nav">
					<li><a href="#/software-projects/gidb#fileinputplugins">File Input Plugins</a></li>
					<li><a href="#/software-projects/gidb#fileoutputplugins">File Output Plugins</a></li>
					<li><a href="#/software-projects/gidb#drawingplugins">Drawing Plugins</a></li>
				</ul>
			</li>
		</ul>

	</div>
	<div class="content has-sidebar">
		






		<h1 class="page-header">GIDB® Thick Client</h1>

			
			DMAP's Downloadable (Thick) Client is our full-featured client aimed at the power user. The thick client allows many
			more capabilities (e.g., unlimited number of layers, 3D visualization, importing of local shape and other data,
			extensive flexibility on input formats, output formats (e.g., shape, geotiff, png, etc.), and drawing options
			(symbology such as Geosym 4)). The thick client is downloaded to your machine and auto installs for use.
			
			
			<br><br>

			<div class="row">
				<a href="img/pages/gidb_thick_client_1.jpg" data-featherlight="image" class="col-sm-3 col-xs-6"><img src="img/pages/gidb_thick_client_1.jpg" class="img-thumbnail"></a>
				<a href="img/pages/gidb_thick_client_2.jpg" data-featherlight="image" class="col-sm-3 col-xs-6"><img src="img/pages/gidb_thick_client_2.jpg" class="img-thumbnail"></a>
				<a href="img/pages/gidb_thick_client_3.jpg" data-featherlight="image" class="col-sm-3 col-xs-6"><img src="img/pages/gidb_thick_client_3.jpg" class="img-thumbnail"></a>
				<a href="img/pages/gidb_thick_client_4.jpg" data-featherlight="image" class="col-sm-3 col-xs-6"><img src="img/pages/gidb_thick_client_4.jpg" class="img-thumbnail"></a>
			</div>
			
			

			
			
			<br><br><br>		
			
			
			For the typical Windows user:<br>
			<a href="http://gpws13.nrlssc.navy.mil/gidb2/GIDB2Setup.exe">GIDB® Windows Installer (45.34 Megabytes)</a>
			
			<br><br>

			(<b>BETA</b>) For Mac Users (open disk image and drag the GIDB® icon to Applications folder):<br>
			<a href="http://gpws13.nrlssc.navy.mil/gidb2/GIDB.dmg">GIDB® Mac Disk Image (10.34 Megabytes)</a>
			
			<br><br>
			
			For the advanced user/users of non-Windows (<b>Linux</b>) platforms:<br>
			<a href="http://gpws13.nrlssc.navy.mil/gidb2/GIDBClient.jar">GIDB® Executable JAR file (4.2 Megabytes)</a><br>
			
			<br><br>
			
			Support Files (for executable JAR file/Applet)<br>
			<a href="http://gpws13.nrlssc.navy.mil/dmap/gidb2/tryitnow/DMAPCA.cert">DMAP Certificate for key requests</a><br>

			<a href="http://gpws13.nrlssc.navy.mil/dmap/gidb2/tryitnow/java3d-1_2_1_04-win32-directx-rt.exe">Java 3D for 3D function (Windows DirectX)</a><br>
			<a href="http://gpws13.nrlssc.navy.mil/dmap/gidb2/tryitnow/java3d-1_2_1_04-win32-opengl-rt.exe">Java 3D for 3D function (Windows OpenGL)</a><br>
			<a href="http://gpws13.nrlssc.navy.mil/dmap/gidb2/tryitnow/comm.zip">Java Comm files for GPS (Windows)</a><br><br><br>
			
			<b>GIDB® Mapping Application Plugins</b>
			
			<br><br>
			
			<table>
				<tbody><tr>
					<td>Plugins provide additional functionality to the GIDB® mapping application. The auto-updater of the
						application will update your plugin files. The tables below list all available plugins. To download a
						plugin, click on the download file and save to your local PC. The recommended directory in which to save
						plugins is &lt;GIDBClientInstallDirectory&gt;/Plugins. See the embedded help documentation within the GIDB®
						mapping application or the
						<a href="http://columbo.nrlssc.navy.mil/dmap/gidb2/helpdocs/THICK_USER_GUIDE.doc"> online GIDB® help
						documentation</a> for more details about using plugins.<br><br><br>
					</td>
				</tr>
			</tbody></table>
			
			<hr>
			
			<h2 name="fileinputplugins" id="fileinputplugins">File Input Plugins</h2>
			
			
			
			<table class="table table-striped">
				<tbody><tr>
					<td><b><center>Supported Extensions</center></b></td> 	
					<td><b><center>Description</center></b></td>
					<td><b><center>Ver</center></b></td>
					<td><b><center>Size</center></b></td>
					<td><b><center>Download File</center></b></td>
				</tr>
				<tr>
					<td>.base</td>
					<td>This is a reader for reading the tiled vector files.</td>
					<td>2.02</td>
					<td>14.7 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/BaseMapInputPlugin.jar"> BaseMapInputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>tiff, tif</td>
					<td>NRL-SSC GeoTIFF reader - ONLY guaranteed to work with GeoTIFFs exported from GIDB® Portal Client</td>
					<td>2.02</td><td>6.5 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GeoTIFFInputPlugin.jar"> GeoTIFFInputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBImage.zip</td>
					<td>This is a reader for the GIDBImage format files that the GIDB® client outputs.</td>
					<td>1.06</td>
					<td>2.9 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBImageInputPlugin.jar"> GIDBImageInputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBMap.zip</td>
					<td>This is a reader for the GIDBMap format files that the GIDB® client outputs.</td>
					<td>1.18</td>
					<td>6.6 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBMapInputPlugin.jar"> GIDBMapInputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBVector.zip</td>
					<td>This is a reader for the GIDBVector format files that the GIDB® client outputs.</td>
					<td>1.08</td>
					<td>2.9 kB</td><td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBVectorInputPlugin.jar"> GIDBVectorInputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>gsr, rsr, fsr, jsr</td>
					<td>This plugin has been designed in compliance with GSR Standard 2002</td>
					<td>GSR1.01</td><td>2.2 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/gsr.jar"> gsr.jar</a></td>
				</tr>
				<tr>
					<td>ovl</td>
					<td>Read plume model</td>
					<td>2.0</td>
					<td>4.7 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/HPACPlugin.jar"> HPACPlugin.jar</a></td>
				</tr>
				<tr>
					<td>.quadtree<br>.group<br>.qtzip<br>.groupzip</td>
					<td>This is a reader for the gidb vector tree formats.</td>
					<td>1.00</td>
					<td>136.0 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/quadtreeplugin.jar"> quadtreeplugin.jar</a></td>
				</tr>
				<tr>
					<td>shp</td>
					<td>This plugin is reads shapefiles</td>
					<td>1.07</td>
					<td>46.0 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/shapefileinputplugin.jar"> shapefileinputplugin.jar</a></td>
				</tr>
				<tr>
					<td>txt</td>
					<td>Read features from a text file</td>
					<td>2.0</td>
					<td>35.4 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/TextFilePlugin.jar"> TextFilePlugin.jar</a></td>
				</tr>
				<tr>
					<td>tilefolderflag</td>
					<td>This reads tiled layers</td>
					<td>1.22</td><td>30.4 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/TileServerClient.jar"> TileServerClient.jar</a></td>
				</tr>
			</tbody></table>
			
			<hr>
			
			<h2 name="fileoutputplugins" id="fileoutputplugins">File Output Plugins</h2>
			
			
			
			<table class="table table-striped">
				<tbody><tr>
					<td><b><center>Supported Extensions</center></b></td>
					<td><b><center>Description</center></b></td>
					<td><b><center>Ver</center></b></td>
					<td><b><center>Size</center></b></td>
					<td><b><center>Download File</center></b></td>
				</tr>
				<tr>
					<td>tif</td><td>Writes raster layers to .tiff GeoTIFF files</td>
					<td>1.06</td>
					<td>5.5 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GeoTIFFOutputPlugin.jar"> GeoTIFFOutputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBImage.zip</td>
					<td>Writes raster layers to .GIDBImage.zip files (internally stored as png or jpg and reloadable)</td>
					<td>1.20</td>
					<td>3.6 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBImageOutputPlugin.jar"> GIDBImageOutputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBMap.zip</td>
					<td>Writes vector and raster layers to .GIDBMap.zip files</td>
					<td>1.13</td>
					<td>6.0 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBMapOutputPlugin.jar"> GIDBMapOutputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBVector.zip</td>
					<td>Writes vector layers to .GIDBVector.zip files</td>
					<td>1.11</td>
					<td>3.7 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBVectorOutputPlugin.jar"> GIDBVectorOutputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>GIDBVector.txt</td>
					<td>Writes vector layers to plain-text .GIDBVector.txt files</td>
					<td>1.0</td>
					<td>3.8 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/GIDBVectorPlainTextOutputPlugin.jar"> GIDBVectorPlainTextOutputPlugin.jar</a></td>
				</tr>
				<tr>
					<td>shp</td>
					<td>Writes vector layers to shapefiles</td>
					<td>2.23</td>
					<td>54.5 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/ShapefileOutputPlugin.jar"> ShapefileOutputPlugin.jar</a></td>
				</tr>
			</tbody></table>
			
			<hr>
			
			
			<h2 name="drawingplugins" id="drawingplugins">Drawing Plugins</h2>
			
			
			<table class="table table-striped">
				<tbody><tr>
					<td><b><center>Description</center></b></td>
					<td><b><center>Ver</center></b></td>
					<td><b><center>Size</center></b></td>
					<td><b><center>Download File</center></b></td>
				</tr>
				<tr>
					<td>This plugin is used for bathymetry analysis</td>
					<td>1.00</td>
					<td>28.1 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/BathymetryPlugin.jar"> BathymetryPlugin.jar</a></td>
				</tr>
				<tr>
					<td>This is the default vector layer visualizer in GIDB® client</td>
					<td>1.22</td>
					<td>48.3 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/DefaultVisPlugin.jar"> DefaultVisPlugin.jar</a></td>
				</tr>
				<tr>
					<td>This plugin is a test for Demo</td>
					<td>1.00</td>
					<td>66.3 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/DemoProjectPlugin.jar"> DemoProjectPlugin.jar</a></td>
				</tr>
				<tr>
					<td>..</td>
					<td>0.1</td>
					<td>260.6 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/geosymplugin.jar"> geosymplugin.jar</a></td>
				</tr>
				<tr>
					<td>Plugin to display tracks.</td>
					<td>1.00</td>
					<td>24.9 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/JEODDrawingPlugIn.jar"> JEODDrawingPlugIn.jar</a></td>
				</tr>
				<tr>
					<td>This plugin is a test of the moving objects drawing scheme using HSWG symbology</td>
					<td>1.12</td>
					<td>40.0 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/MovingObjectsDrawingPlugin.jar"> MovingObjectsDrawingPlugin.jar</a></td>
				</tr>
				<tr>
					<td>This plugin is used for visualization of PUMA data</td>
					<td>1.00</td>
					<td>28.1 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/PUMAPlugin.jar"> PUMAPlugin.jar</a></td>
				</tr>
				<tr>
					<td>This plugin is used for visualization of SediMap sediment data</td>
					<td>1.00</td>
					<td>28.1 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/SediMapPlugin.jar"> SediMapPlugin.jar</a></td>
				</tr>
				<tr>
					<td>This is a reader for rendering the tiled vector files.</td>
					<td>2.01</td>
					<td>27.9 kB</td>
					<td><a href="http://gpws13.nrlssc.navy.mil/gidb2/plugins/VisualizationPlugin.jar"> VisualizationPlugin.jar</a></td>
				</tr>
			</tbody></table>
			


	</div><!-- /.content .has-sidebar -->

