<div class="jumbotron banner-full banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-8 jumbotron-text">
                Conducting research and development on significant problems involving the collection, processing and distribution of geospatial
                data.
            </div>
            <div class="col-lg-6 col-sm-4 text-right jumbotron-logo">
                <img src="img/pages/NRLSSC_logo2.png">
            </div>
        </div>
    </div>
</div>

<div class="container main" role="main">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#">Thin Clients</a></h3>
                </div>
                <div class="panel-body">
                    <ul class="menu nav">
                        <li><a href="/tsclient/">Tileserver Web Client</a></li>
                        <li><a href="wmtsexamples.html">Tileserver Examples for Openlayers and WMTS</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-separator"></div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Catalogs</h3>
                </div>

                <div class="panel-body">
                    <ul class="list-unstyled lined">
                        <li>Geonetwork Service Catalog - (<a href="/geonetwork/srv/eng/main.home">geonetwork</a>)</li>
                        <li>Pycsw - (<a href="/pycsw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetCapabilities">capabilities</a>,
                            <a href="/pycsw?service=CSW&amp;version=2.0.2&amp;request=GetRecords&amp;typenames=csw:Record&amp;elementsetname=full&amp;resulttype=results">records</a>)
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-separator"></div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="menu nav">
                        <li><a href="https://maps.nrlssc.navy.mil">DoD personnel and contractors site<br> (CAC Card Required)</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#">Service Links</a></h3>
                </div>

                <div class="panel-body">
                    <ul class="list-unstyled lined">
                        <li>Tileserver (Imagery) - (<a href="/nrltileserver/wms">WMS</a>,<a href="/nrltileserver/wmts">WMTS</a>,
                            <a href="/nrltileserver/wcs">WCS</a>,<a href="/nrltileserver/kml2.kml">KML</a>)</li>
                        <li>Digital Nautical Charts - (<a href="/dnc/wms">WMS</a>,<a href="/dnc/wmts">WMTS</a>,<a href="dnc/wfs">WFS</a>)</li>

                        <li>Electronic Nautical Charts - (<a href="/ENCServer/wms">WMS</a>,<a href="/ENCServer/wmts">WMTS</a>)</li>
                        <li>Maritime Products (MODU, Broadcast Warnings, ASAM) - (<a href="/maritime/wms">WMS</a>,<a href="/maritime/wmts">WMTS</a>,
                            <a href="/maritime/wfs">WFS</a>)</li>
                        <li>Open Street Maps - (<a href="/osm/wms">WMS</a>,<a href="/osm/wmts">WMTS</a>,<a href="/osm/wfs">WFS</a>)</li>
                        <li>Geonames - (<a href="/geonames/wms">WMS</a>,<a href="/geonames/wmts">WMTS</a>,<a href="/geonames/wfs">WFS</a>)</li>
                        <li>World Port Index - (<a href="/wpi/wms">WMS</a>,<a href="/wpi/wmts">WMTS</a>,<a href="/wpi/wfs">WFS</a>)</li>
                        <li>US Embassy - (<a href="/usembassy/wms">WMS</a>,<a href="/usembassy/wmts">WMTS</a>,<a href="/usembassy/wfs">WFS</a>)</li>
                        <li>GLIMPS Instability Forecasts - (<a href="/glimps/wms">WMS</a>,<a href="/glimps/wmts">WMTS</a>,
                            <a href="/glimps/wfs">WFS</a>)</li>
                        <li>Ethiopia Digital International Boundary - (<a href="/ethiopia/wms">WMS</a>,<a href="/ethiopia/wmts">WMTS</a>,
                            <a href="/ethiopia/wfs">WFS</a>)</li>
                        <li>Aeronautical Seamless Enroute Charts (US Only) - (<a href="aero/wms">WMS</a>)</li>
                        <li>Country Code Converter - (<a href="/countrycodeconverter">REST Service</a>, <a href="/countrycodeconverter.html">Example Webpage</a>)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Geopackage</h3>
                </div>
                <div class="panel-body">
                    <h4 style="font-weight: 600; margin-top: 0px; font-size: 16px;">Example Geopackages</h4>
                    <ul class="list-unstyled lined">
                        <li>World Port Index Vector Geopackage - (
                            <a href="/static/geopackages/wpi_features.gpkg">wpi_features.gpkg</a>)</li>

                        <li>Bluemarble Geopackage - (
                            <a href="/static/geopackages/bluemarble_3395_0-5.GPKG ">bluemarble_3395_0-5.GPKG</a>)</li>

                        <li>Electronic Nautical Charts Vector Geopackages - (
                            <a href="/static/geopackages/enc.gpkg">enc.gpkg</a>)</li>

                        <li>DNC Norfolk With Features - (
                            <a href="/static/geopackages/dnc-norfolk-withfeatures.gpkg">dnc-norfolk-withfeatures.gpkg</a>)</li>

                        <li>DNC San Diego With Features - (
                            <a href="/static/geopackages/dnc-sandiego-withfeatures.gpkg">dnc-sandiego-withfeatures.gpkg</a>)</li>

                    </ul>
                    <h4 style="font-weight: 600; margin-top: 19px; font-size: 16px;">Geopackage Downloader</h4>
                    <ul class="list-unstyled lined">
                        <li><a href="https://geoint.nrlssc.navy.mil/gpkg/">geoint.nrlssc.navy.mil/gpkg/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

<div class="jumbotron home-hero">
    <div class="container">
        <div class="titleblock">
            <span class="h1" aria-hidden="true"><a href="#">About the Geospatial Computing Section</a></span>
        </div>
    </div>
</div>

<div class="container main">
    <section>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 ">
                <p class="xl">Our goal is to be the lead defense research and development group in geospatial computing. We conduct research
                    and development on significant problems involving the collection, processing and distribution of geospatial
                    data. <a href="#">Read More</a></p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="page-header">Focus Areas:</h2>
        <div class="row section">
            <div class="col-sm-2"><img src="img/pages/geospatialWebServices.png" class="img-thumbnail"></div>
            <div class="col-sm-4">
                <h3 class="col-heading">Geospatial Web Services</h3>
            </div>
            <div class="col-sm-2"><img src="img/pages/geospatialData.png" class="img-thumbnail"></div>
            <div class="col-sm-4">
                <h3 class="col-heading">Lightweight, Portable and Inexpensive Geospatial Data Management Systems</h3>
            </div>
        </div>
        <div class="row section">
            <div class="col-sm-2"><img src="img/pages/managingGeoCropped.png" class="img-thumbnail"></div>
            <div class="col-sm-4">
                <h3 class="col-heading">Managing Geospatial Uncertainty</h3>
            </div>
            <div class="col-sm-2"><img src="img/pages/automationGeoProcesses.png" class="img-thumbnail"></div>
            <div class="col-sm-4">
                <h3 class="col-heading">Automation of Geospatial Processes</h3>
            </div>
        </div>
        <div class="row section">
            <div class="col-sm-2"><img src="img/pages/highPerformanceComputing.png" class="img-thumbnail"></div>
            <div class="col-sm-4">
                <h3 class="col-heading">High Performance Geospatial Computing</h3>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <h3><em>Find out more</em></h3>
        <p class="lg">For information about NRL Geospatial Computing projects, software or other general questions, please email: <a href="mailto:geoint@nrlssc.navy.mil">geoint@nrlssc.navy.mil.</a></p>
    </section>
</div><!-- /.container -->