<h1 class="page-header">Job Opportunities</h1>
<p>
  The Geospatial Computing Section is currently looking for Student employees to contribute to its research mission.
</p>

<p>
  We are interested in B.S., M.S. and Ph.D. students in Computer Science, Computer Engineering and Electrical Engineering who can work at NRL year-round or for summer terms.
</p>

<p>
  For U.S. citizens seeking more information about employment please send an email to <a href="mailto:geoint@nrlssc.navy.mil"> geoint@nrlssc.navy.mil </a>  (Include a current resume with GPA)
</p>

