<h1 class="page-header">NRL Tile Server</h1>

<div class="pull-right thumbnail"><img src="img/pages/tileServer.jpg" class="md">Blue Marble</div>

<ul><li><a href="https://geoint.nrlssc.navy.mil/tsclient/">View public version of the NRL Tile Server.</a></li></ul>

<hr>

<p> If you would like to learn more about the tile server, you can go to the <a href="https://geoint.nrlssc.navy.mil/#/software-projects/nrl-tile-server-features"> NRL Tile Server features page</a> for an overview. </p>

<p>If you want to learn even more, our researchers Dr. John Sample and Dr. Elias Ioup have provided detailed information in the first book on tile based GIS, <a href="http://www.springer.com/computer/database+management+%26+information+retrieval/book/978-1-4419-7630-7"> Tile-Based Geospatial Information Systems </a> . </p>  