<h1 class="page-heading">NRL Tile Server Features</h1>

<a href="img/pages/tileServerScreenshot.png" data-featherlight="image" class="pull-right thumbnail"><img src="img/pages/tileServerScreenshot.png" class="md"><br><span class="glyphicon glyphicon-zoom-in"></span> enlarge</a>
<h3> Overview </h3>
<p>The NRL Tile Server is an advanced system for distribution of geospatial data over the Web.</p>
<p><em>Supports OGC Standards:</em> WMS, WMTS, WFS, KML</p>
		
<p><em>Raster (imagery) and vector data sets:</em> Shapefile, VPF, Geodatabase, KML, NITF, GEOTIFF, MRSID (trademark), GE0-JPEG2000, DTED, RPF, CADRG, ECRG, CIB, NETCDF, S57</p>

<p><em>Supports multiple projections:</em> Mercator, UTM, Universal Polar, Stereographic</p>

<p><em>Supports OpenLayers for viewing</em></p><br>

<!--
<h3>Learn More</h3>
<p>
<a href="introTileSystems.php">Introduction to Tile-Based GIS Systems</a></br>
<a href="tileCreation.php">The Tile Creation Process</a></br>
<a href="tileServers.php">Tile Servers</a></br>
<a href="vectorTiles.php">Vector Based Tiles</a></br>
<a href="#">Tile Server Help</a></p>
</br>
-->
<hr>

<h3>Further Reading</h3>

<a href="http://www.springer.com/computer/database+management+%26+information+retrieval/book/978-1-4419-7630-7" class="pull-left img-thumbnail"><img src="img/pages/book.png" width="75" height="100"></a>
		NRL 7442 has authored the first book on Tile-Based GIS<br><br><a href="http://www.springer.com/computer/database+management+%26+information+retrieval/book/978-1-4419-7630-7" class="btn btn-primary">Learn more</a>



				
			
				
								
