<h1 class="page-header">Patents</h1>



<table  class="table table-striped">
	<tbody><tr>
		<th>Number</th>
		<th>Title</th>
		<th>Inventors</th>
		<th>Date Granted</th>
	</tr>
	<tr>
		<td  width="75px"><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=8024318&amp;OS=8024318&amp;RS=8024318">8,024,318</a></td>
		<td  width="270px">System and method for automated discovery, binding, and integration of non-registered geospatial web services</td>
		<td  width="150px">Frank P. McCreedy<br>John T. Sample<br>Lev I. Shulman</td>
		<td  width="200px">September 20, 2011</td>
	</tr>
	<tr>
		<td  width="75px"><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=1&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7791616&amp;OS=7791616&amp;RS=7791616">7,791,616</a></td>
		<td  width="270px">Method for efficiently transforming a raster image from one map projection to another map projection</td>
		<td  width="150px">Elias Z. K. Ioup<br>John T. Sample<br>Hillary C. Mesick</td>
		<td  width="200px">September 7, 2010</td>
	</tr>
	<tr>
		<td  width="75px"><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&amp;Sect2=HITOFF&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&amp;r=2&amp;f=G&amp;l=50&amp;co1=AND&amp;d=PTXT&amp;s1=7685133&amp;OS=7685133&amp;RS=7685133">7,685,133</a></td>
		<td  width="270px">System and method for automated discovery, binding, and integration of non-registered geospatial web services</td>
		<td  width="150px">Frank P. McCreedy<br>John T. Sample<br>Lev I. Shulman</td>
		<td  width="200px">March 23, 2010</td>
	</tr>	
	<tr>
		<td  width="75px"><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=/netahtml/PTO/srchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=6,985,929.PN.&amp;OS=PN/6,985,929&amp;RS=PN/6,985,929">6,985,929</a></td>
		<td  width="270px">Distributed object-oriented geospatial information distribution system and method thereof</td>
		<td  width="150px">Ruth Wilson<br>Miyi J. Chung<br>Maria A. Cobb<br>Kevin Shaw<br>Roy Ladner</td>
		<td  width="200px">January 10, 2006</td>
	</tr>
	<tr>
		<td  width="75px"><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=/netahtml/PTO/srchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=6,950,828.PN.&amp;OS=PN/6,950,828&amp;RS=PN/6,950,828">6,950,828</a></td>
		<td  width="270px">Method and apparatus for building and maintaining an object-oriented geospatial database</td>
		<td  width="150px">Kevin B. Shaw<br>Miyi J. Chung<br>Maria A. Cobb</td>
		<td  width="200px">September 25, 2005</td>
	</tr>
	<tr>
		<td  width="75px"><a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=/netahtml/PTO/srchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=6,684,219.PN.&amp;OS=PN/6,684,219&amp;RS=PN/6,684,219">6,684,219</a></td>
		<td  width="270px">Method and apparatus for building and maintaining an object-oriented geospatial database</td>
		<td  width="150px">Kevin B. Shaw<br>Miyi J. Chung<br>Maria A. Cobb</td>
		<td  width="200px">January 27, 2004</td>
	</tr>
</tbody></table>




   
   