<h1 class="page-header">Publications</h1>

<!--
 <p align="center">The following table contains recent significant publications from NRL 7442.  In the last 20 years, this group has over 200 total publications.
</p>
<br/>
<br/>
 -->



<p>Please see the <a href="/7440_new/publications.php">Code 7440 Publications web page</a>.
</p>



<p>

	</p><h3>Tile-Based Geospatial Information Systems: Principles and Practices</h3>

<p></p>

<p>

	<img src="img/pages/book.png">

</p>


<p>Tile-based mapping systems have grown to become the dominant form of mapping system with the rise of Web-based mapping tools. 
The origin of this book is a desire to collect all our discoveries, techniques, and best practices for creating a til- mapping system into one combined volume. 
The intent of this text is to provide a comprehensive guide to the theory behind creating a tiled-map system as well as a practical guide to create a concrete implementation.
</p>
<p> Stennis Space Center, MS 
</p>





<!--

<table align="center" border="1">

	<tr>

		<th>ISBN</th>

		<th>Title</th>

	</tr>



< ! --
	<tr>

		<td align="center"><a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5664605&tag=1">978-1-4244-4332-1</a></td>

		<td align="center">A System to Distribute Navy Coastal Ocean Model Data Using the Open Geospatial Consortium's Web Map Serice Protocol</td>

	</tr>
- - >
	
	
	<tr>

		<td width="125px"align="center"><a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5422314">978-1-4244-4960-6</a></td>

		<td width="400px"align="center">A Tile-based System for the Rapid Display of Symbolized Digital Nautical Chart Data</td>

	</tr>

</table>

-->



			