<h1 class="page-header">Software Projects</h1>

<div class="row">
	<div class="col-sm-3"><a href="#/software-projects/nrl-tile-server-features"><img src="img/pages/kmlTiles.png" class="img-thumbnail"></a></div>
	<div class="col-sm-9">
		<h2 class="col-heading"><a href="#/software-projects/nrl-tile-server-features">NRL Tile Server</a></h2>
		<p>Try the deployable <a href="#/software-projects/nrl-tile-server-features">Tile Server</a> firsthand! </p>
			<p>Click <a href="nrlTileServerSf.php"> here </a> to learn more about the NRL Tile Server. </p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-3"><a href="#/software-projects/ghub"><img src="img/pages/gc_logo_150x150.png" class="img-thumbnail"></a></div>
	<div class="col-sm-9">
		<h2 class="col-heading"><a href="#/software-projects/ghub">GHub</a></h2>
		
			<p>The Naval Research Laboratory's Geospatial Hub (GHub) is a content management system specifically designed to provide a collaborative environment for organizing and searching Department of Defense data. </p>
			<p>Click <a href="#/software-projects/ghub"> here </a> to learn more about GHub.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-3"><a href="#/software-projects/gidb"><img src="img/pages/gidb_thick_client_1.jpg" class="img-thumbnail"></a></div>
	<div class="col-sm-9">
		<h2 class="col-heading"><a href="#/software-projects/gidb">GIDB®</a></h2>
		<p>Geospatial Information Database (GIDB®) is DMAP's downloadable client is our full-featured client aimed at the power user. The thick client allows many
			more capabilities and drawing options. The thick client is downloaded to your machine and automatically installs for use.
			 </p>
			<p>Click <a href="#/software-projects/gidb"> here </a> to learn more about and download GIDB.</p>
	</div>
</div>
<hr>





<!--	
<table border="0" width="550">	
	<tr>
		<td valign="top" width="150"><img src="img/pages/geoSym.png" height="120" width="150"></td>
		<td>
			<h2>GEOSYM</h2>
			<p>Click <a href="geosym.php"> here </a> to learn more about GEOSYM.</p>
		</td>
	</tr>
</table>
-->

<!--

<hr>

<table border="0" width="550">	
	<tr>
		<td valign="top" width="150"><img src="img/pages/gc_logo_150x150.png" height="120" width="140"></td>
		<td>
			<h2>VECSTORE</h2>
			<p>Click <a href="vecstore.php"> here </a> to learn more about VECSTORE.</p>
		</td>
	</tr>
</table>
-->


