<h1 class="page-header">Web Services</h1>
<div class="row">
	<div class="col-sm-3"><a href="#/web-services/nrl-tile-server"><img src="img/pages/tileServer.jpg" class="img-thumbnail"></a></div>
	<div class="col-sm-9">
		<h2 class="col-heading"><a href="#/web-services/nrl-tile-server">NRL Tile Server</a></h2>
		<p>Try the deployable Tile Server firsthand! </p>
			<p>Click <a href="nrlTileServer.php"> here </a> to learn more about the NRL Tile Server. </p>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-3"><a href="#/web-services/drg-explorer"><img src="img/pages/drgFullUs.png" class="img-thumbnail"></a></div>
	<div class="col-sm-9">
		<h2 class="col-heading"><a href="#/web-services/drg-explorer">DRG Explorer</a></h2>
		<p>A Digital Raster Graphic is a scanned image of  U.S. Geological Survey standard series topographic map, including all map collar information.   </p>
			<p>Click <a href="drgExplorer.php">here</a> to learn about the web-based DRG Explorer. </p>
	</div>
</div>
<hr>


