<div class="jumbotron banner-full banner banner-hero" ng-if="page.hasBanner" ng-style="{ backgroundImage: 'url(img/{{ page.banner }}) ' }" >
  <div class="titleblock">
    <div class="container">
      <span class="h1" aria-hidden="true">{{page.name}}</span>
    </div>
  </div>
</div>