<footer class="footer">
  <div class="container">
      <foot-menu></foot-menu>
    <div class="credit row">
      <div class="col-sm-3">
          <a href="#" class="logo-container"><div class="logo" id="logo"></div></a>
      </div>
      <div class="col-sm-9 info">
        <p>This Is An Official United States of America Navy Website.</p>
        <p>Geospatial Computing Section 7442, U.S. Naval Research Laboratory, Stennis Space Center, MS 39529</p>
        <ul class="list-inline">
          <li><a href="http://www.nrl.navy.mil/">Naval Research Laboratory</a></li>
          <li><a href="http://www.nrlssc.navy.mil/">NRL Stennis Detachment</a></li>
          <li><a href="http://www.navy.mil">Department of the Navy</a></li>
        </ul>
        <ul class="list-inline">
          <li><a href="http://www.onr.navy.mil/">Office of Naval Research</a></li>
          <li><a href="http://www.navy.com/">Navy Recruiting</a></li>
          <li><a href="http://foia.navy.mil/">FOIA</a> <a href="./Privacy_Policy.php">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>