<header class="navbar navbar-static-top navbar-inverse" id="header" >
   <div class="container">
      <div class="navbar-header">     
        <div class="navbar-brand">
          <a href="#" class="logo-container"><div class="logo" id="logo"></div></a>
          <div class="title">
            <a class="title-link" href="#"><div class="title-top">NRL 7442 </div> <div class="title-bottom">Geospatial Computing Section</div></a>
          </div>
        </div>
        <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button" ng-click="showNavbar = !showNavbar"> <span class="sr-only">Toggle navigation</span> <span class="glyphicon glyphicon-menu-hamburger" ng-hide="showNavbar"></span><span class="glyphicon glyphicon-chevron-up" ng-show="showNavbar"></span> </button>
      </div>
      <nav class="collapse navbar-collapse" id="bs-navbar" ng-class="{'in' : showNavbar}">
         <main-menu></main-menu>
      </nav>
   </div>
</header>






