<ul class="nav navbar-nav navbar-right">
	<li ng-repeat="e in mainMenu" ng-class="{dropdown: e.pages, active: curNav == e.id }">
		<a href="#{{e.url}}" class="hide-xs">{{e.name}} <span class="caret" ng-if="e.pages"></span></a>
		<a ng-if="e.pages" ng-click="updateNav(e.id)" class="show-xs">{{e.name}} <span class="glyphicon glyphicon-chevron-right"></span></a>
		<a ng-if="showNavbar && !e.pages" href="#{{e.url}}">{{e.name}} </a>

		<ul class="dropdown-menu" ng-if="e.pages" >
			<li ng-show="showNavbar"><a href="#{{e.url}}">{{e.name}}</a></li>
			<li ng-repeat="link in e.pages"><a href="#{{link.url}}" ng-class="{'active' : link.id == page.id}">{{link.name}}</a></li>
		</ul>
	</li>
</ul>